<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container pt-5">
            <div class="row">
                <% books.forEach(book=> { %>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-header">
                                <%= book.title +' / '+ book.author %> 
                            </div>
                            <a href="/book/<%= book.id %> "><img src="<%= book.image %>" class="img-fluid"></a>
                            <div class="card-body">
                                <%= book.description %> 
                            </div>
                            <div class="card-footer btn-group">
                                <a href="/book/delete/<%= book.id %> " class="btn btn-danger">Delete</a>
                                <a href="/book/edit/<%= book.id %> " class="btn btn-warning">Edit</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
</body>

</html>